body {
    padding: 0px;
    /* line-height: 1.2; */
}

#header {
    background-color: #5f78c2;    
    padding: 0.15em;
    padding-bottom: 0.5em;
}

#header a {
    color: white;
}

#header-logo a:hover {
    text-decoration: none;
}

#header-logo {
    font-size: 2.25em;
    font-weight: bold;
    font-family: "Lucida Console";
    letter-spacing: 1rem;
    text-align: center;
    margin-top: -0.1em;
    margin-bottom: -0.3em;
}

#header-summary {    
    color: #f7efd5;
    padding-bottom: 1em;
    text-align: center;
}

#selected-country, #selected-region {
    font-weight: bold;
}

#regions-and-countries {
    text-align: center;
    /* delimiter colour */
    color: gray;
    background-color: #d7e0f7;    
}

#countries {
    text-align: left;
    padding-left: 0.35em;
    background-color: #f9f9f9;    
}

#regions, #search-input, .country, dialog {
    font-size: 1.2em;
}

table, tr {    
    /* border: 0 !important; */
    /* border-collapse: collapse; */
    /* Don't add huge spaces between words when eponym wraps-around */
    text-align: start;    
}

td, th {
    border-bottom: 0px;
}

td:first-child {
    /* border-right: 2px solid lightgray;     */
}

@media screen and (min-width: 480px) {
    #content {
        border: 3px solid #d7e0f7;
        padding: 0em 1.25em;
    }
    dialog {
        width: 50%
    }
}

.region, .country, .eponym-count {
    cursor: pointer;    
}

.eponym {   
    font-size: 1.15em;
}

.eponym-count {
    font-size: 0.95em;
}

#eponyms-country {
    text-align: center;
    font-size: 1.8em;
    padding-top: 0.75em;
    padding-bottom: 0.25em;
}

input {
    margin-bottom: 0px;    
}

#osm-data {
    text-align: center;
}

a, a:visited, a:hover {
    color: black;
}
