body {
    padding: 0px;
    /* line-height: 1.2; */
}

#header {
    background-color: #5f78c2;    
    padding: 0.15em;
    padding-bottom: 0.5em;
}

#header a {
    color: white;
}

a, a:visited, a:hover {
    color: black;
}

#header-logo a:hover {
    text-decoration: none;
}

#header-logo {
    font-size: 2.25em;
    font-weight: bold;
    font-family: "Lucida Console";
    letter-spacing: 1.5rem;
    text-align: center;
    margin-top: -0.1em;
    margin-bottom: -0.3em;
}

#header-summary {    
    color: #f7efd5;
    padding-bottom: 1em;
    text-align: center;
}

#selected-country, #selected-region {
    font-weight: bold;
}

#regions-and-countries {
    text-align: center;
    background-color: #d7e0f7;    
}

#regions-and-search {
    border-bottom: 2px solid #5f78c2;
}

#regions, #search-input, .country, dialog {
    font-size: 1.2em;
}

table, tr {    
    border: 0 !important;
    border-collapse: collapse;
    /* Don't add huge spaces between words when eponym wraps-around */
    text-align: start;
}

@media screen and (min-width: 480px) {
    #content {
        border: 2px solid #5f78c2 ; /* #FFA41B  #5f78c2;              */
        /* border-radius: 15px; */
        padding: 0em 1em;
    }
    dialog {
        width: 40%
    }
}

.region, .country, .eponym-count {
    cursor: pointer;    
}

.eponym {
    margin: 0.1em;
    font-size: 1.15em;
    /* border-radius: 52px; */
    /* border: 2px solid #edeff5; */
    padding: 3px;
    
}

.eponym-count {
    font-size: 0.9em;
}

#eponyms-total-unique, #github {
    /* color: #f5a111; */
    /* padding-top: 5px; */
}

#eponyms-country {
    text-align: center;
    font-size: 1.8em;
    /* font-weight: bold; */
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

#search-input {
    ;    /* text-align: left; */
}

input {
    margin-bottom: 0px;    
}

#search-button, #cancel-search {     
    ;
}

#osm-data {
    text-align: center;
}
