body {
    padding: 0px;
    /* line-height: 1.2; */
}

#header {
    background-color: #5f78c2;    
    padding: 0.55em;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

#header-links {
    padding-left: 1em;
}

#header a {
    color: white;
}

#header-logo a:hover {
    text-decoration: none;
}

#header-logo {
    font-size: 2em;
    font-weight: bold;
    font-family: "Lucida Console";
    letter-spacing: 1rem;
}

#selected-country, #selected-region {
    font-weight: bold;
}

#regions-and-countries {    
    padding-left: 1em;
    padding-right: 1em;
    /* delimiter colour */
    color: gray;
    background-color: #d7e0f7;    
}

#countries {
    text-align: left;
    padding-left: 0.35em;    
    background-color: #f9f9f9;    
}

#regions, #search-input, .country, dialog {
    font-size: 1.2em;
}

#content {
    padding: 0em 1em;
}

@media screen and (min-width: 480px) {
    #content {
        border: 3px solid #d7e0f7;
        padding: 0em 1em;
    }
    dialog {
        width: 50%
    }
}

.region, .country, .eponym-count {
    cursor: pointer;    
}

.eponym {   
    font-size: 1.15em;
}

.eponym-count {
    /* color: dimgray; */
    /* font-size: 0.95em; */
}

#eponyms-country {
    /* text-align: center; */
    font-size: 1.8em;
    padding-top: 0.75em;
    padding-bottom: 0.25em;
}

input {
    margin-bottom: 0px;    
}

a, a:visited, a:hover {
    color: black;
}
